@import "./vars.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-wrapper {
  background-color: var(--main-bg-color);
}

.header {
  padding: 20px 0;
}

.logo-link {
  float: left;
  margin-right: 50px;
}

.header-nav {
  float: left;
  margin-top: 50px;
}

.nav-list__item {
  list-style: none;
  float: left;
  margin-right: 30px;
  position: relative;
}

.nav-list__item:last-child {
  margin-right: 0;
}

.submenu {
  display: none;
  position: absolute;
  top: 18px;
  left: 0;
}

.submenu-item {
  list-style: none;
}

.nav-list__item:hover .submenu {
  display: block;
}

.header-btn-register {
  float: right;
  text-transform: uppercase;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--semi-bg-color);
  cursor: pointer;
  border-radius: 10px;
  margin-top: 37px;
}

.social-list {
  float: right;
  margin-top: 45px;
}

.social-list__item {
  float: left;
  list-style: none;
  margin-right: 15px;
}

.fa-facebook-square,
.fa-instagram,
.fa-twitter-square {
  font-size: 24px;
  color: var(--semi-font-color);
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.block {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  width: 300px;
  height: 300px;
}

.banner {
  width: 1600px;
  margin: 0 auto;
}

.banner img {
  display: block;
}

.info-section__wrapper {
  background-color: var(--main-section-bg-color);
}

.info-section {
  padding: 20px 0;
}

.info-section__title {
  margin: 0 0 30px 0;
}

.tour-list__item {
  list-style: none;
  float: left;
  margin-right: calc((1100px - 900px) / 2);
}

.tour-list__item:last-child {
  margin-right: 0;
}

.tour-title {
  text-align: center;
}

.tour-link {
  display: block;
  padding: 10px 0;
  background-color: var(--semi-bg-color);
  color: var(--main-font-color);
}

.tour-img__cont {
  position: relative;
}

.tour-img {
  display: block;
}

.tour-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 95px;
  display: none;
}

.show-more-link {
  color: #fff;
  font-size: 24px;
}

.tour:hover .tour-overlay {
  display: block;
}

.tour:hover .tour-link {
  background-color: lightgrey;
}
