* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding: 20px 0 0 0;
  margin: 0 0 50px 0;
}

main {
  margin: 0 0 70px 0;
}

.nav-list {
  text-align: center;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px 0 0;
}

.nav-link {
  text-decoration: none;
  color: green;
}

.news {
  margin: 0 0 70px 0;
}

.section-title {
  margin: 0 0 20px 0;
}

.news-article__list {
  font-size: 0;
}

.news-article__item {
  font-size: 16px;
  list-style: none;
  display: inline-block;
  width: 400px;
  margin: 0 0 50px 0;
}

.news-article__item-r {
  /* margin-right: calc(900px - 400px * 2 - 8px); */
  margin-right: 100px;
}

.article-title,
.article-text {
  margin: 0 0 15px 0;
}

.blog-article__list {
  font-size: 0;
}

.blog-article__item {
  list-style: none;
  display: inline-block;
  width: 250px;
  font-size: 16px;
}

.blog-article__item-r {
  /* margin-right: calc((900px - 250px * 3) / 2 - 12px); */
  margin-right: 75px;
}

.footer-list__item {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

.sublist-item {
  list-style: none;
  margin: 0 0 15px 0;
}

.footer-link {
  color: blue;
  text-decoration: none;
  font-size: 24px;
}

button {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 50px;
  font-size: 24px;
  /* padding: 20px; */
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid grey;
  /* border-radius: 50%; */
}
