.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
}

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  display: grid;

  grid-gap: 30px;

  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

li {
  list-style: none;
  border: 1px solid red;
}

#flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#flex-list li {
  flex: 1 1 270px;
  margin-bottom: 20px;
  margin-right: 20px;

}
