* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif, sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.header-wrapper {
  background-color: #01bcc6;
}

.header {
  padding: 20px 0 0 0;
  margin-bottom: 50px;
}

main {
  margin: 0 0 70px 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nav-list {
  /* height: auto;
  overflow: hidden; */
}

.list-item {
  list-style: none;
  margin: 0 20px 0 0;
  float: left;
}

/* .list-item:last-child {
  clear: left;
} */

.list-item:last-child {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.news-wrapper {
  background-color: #d5d1ca;
}

.news {
  margin-bottom: 70px;
}

.section-title {
  margin: 0 0 20px 0;
  font-family: "Charm", cursive, serif;
  font-size: 36px;
  text-align: center;
}

.section-title::after {
  content: "";
  border-bottom: 2px solid red;
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.news-article__item {
  font-size: 16px;
  list-style: none;
  width: 400px;
  margin: 0 100px 50px 0;
  float: left;
}

.news-article__item:nth-child(even) {
  margin-right: 0px;
}

/* .news-article__item-r {
  margin-right: 100px;
} */

.article-title {
  font-family: "Charm", cursive, serif;
  font-size: 24px;
}

.article-text {
  margin: 0 0 15px 0;
}

.article-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  display: block;
  width: 150px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.article-link:hover {
  color: blue;
  border: 2px solid blue;
}

.article-link:focus {
  background-color: red;
}

.blog-wrapper {
  background: #000 url("../img/1.jpg") no-repeat center center;
  background-size: cover;
}

.blog {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.blog-article__list {
  font-size: 0;
}

.blog-article__item {
  list-style: none;
  display: inline-block;
  width: 250px;
  font-size: 16px;
}

.blog-article__item-r {
  /* margin-right: calc((900px - 250px * 3) / 2 - 12px); */
  margin-right: 75px;
}

.footer-wrapper {
  background-color: #005b7c;
}

.footer-list__item {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

.sublist-item {
  list-style: none;
  margin: 0 0 15px 0;
}

.footer-link {
  color: blue;
  text-decoration: none;
  font-size: 24px;
}
/* 
button {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 50px;
  font-size: 24px;
  padding: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 50%;
} */

article {
  border: 1px solid red;
}

article:hover .article-link {
  background-color: green;
}
